{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'css/home/styles.css' %}"> {% endblock %}

{% block content %} 

<section id="slider">
    <img id="a-left" class="s-arrow" src="{{ MEDIA_ROOT }}home/slider/chevron-left.png" alt="left">
    {% for slug, casa in casasImagen.items %}
    {% if forloop.first %}
    <img id="s-first" class="slider-image s-active" src="{{ casa.imagen_principal1.url }}" alt="{{ casa.imagen_principal.slug }}">
    {% elif forloop.last %}
    <img id="s-last" class="slider-image" src="{{ casa.imagen_principal1.url }}" alt="{{ casa.imagen_principal.slug }}">
    {% else %}
    <img class="slider-image" src="{{ casa.imagen_principal1.url }}" alt="{{ casa.imagen_principal.slug }}">
    {% endif %}
    {% empty %}
    <p> No hay imágenes </p>
    {% endfor %}
    <img id="a-right" class="s-arrow" src="{{ MEDIA_ROOT }}home/slider/chevron-right.png" alt="right">
</section>

<section id="home-text">
    <div id="ht-top">
        <div id="ht-border-top"></div>
        <h2 id="ht-top-title">{{informacion.negrito}}</h2>
        <p id="ht-top-text">{{informacion.gris}}</p>
        <div id="ht-border-bottom"></div>
    </div>
    <p id="ht-main">{{informacion.home_text}}</p>
</section>

<section id="home-casas">
    <h2 id="hc-title">{{informacion.titulo_casas_home}}</h2>
    <img id="hc-left" class="hc-arrow" width="40" src="{{ MEDIA_ROOT }}home/slider/chevron-left.png" alt="left">
    <div id="home-casas-cards">
        {% for slug, casa in casasImagen.items %}
        <div class="home-casa-card" data-url="{{slug}}">
            <p class="casa-card-info">{{casa.nombre}}</p>
            <div class="image-container">
                <img class="image1" src="{{ casa.imagen_principal.url }}" alt="imagen principal de {{casa.nombre}}">
            </div>
            <p class="casa-card-mas">CONOCER MÁS</p>
        </div>
        {% endfor %}
        <!--{% for slug, casa in casasImagen.items %}
        <div class="home-casa-card" data-url="{{slug}}">
            <p class="casa-card-info">{{casa.nombre}}</p>
            <img src="{{ casa.imagen_principal.url }}" alt="{{casa.imagen_principal.slug}}">
            <p class="casa-card-mas">CONOCER MÁS</p>
        </div>
        {% endfor %}-->
    </div>
    <img id="hc-right" class="hc-arrow" width="40" src="{{ MEDIA_ROOT }}home/slider/chevron-right.png" alt="right">
</section>

<section id="home-contactarnos">
    <h2> {{informacion.titulo_contacto_home}} </h2>
    <!-- <h2>Contáctanos en tres pasos!</h2> -->
    <div id="contact-text">
        <div id="contact-steps">
            <div id="c-step1" class="contact-step" >
                <p class="c-step-num">1</p>
                <h3 class="c-step-title">{{informacion.titulo_uno_contacto}}</h3>
                <p class="c-step-text">{{informacion.texto_uno_contacto}}</p>
            </div>
            <div id="c-step2" class="contact-step" >
                <p class="c-step-num">2</p>
                <h3 class="c-step-title">{{informacion.titulo_dos_contacto}}</h3>
                <p class="c-step-text">{{informacion.texto_dos_contacto}}</p>
            </div>
            <div id="c-step3" class="contact-step c-step-hovered">
                <p class="c-step-num">3</p>
                <h3 class="c-step-title">{{informacion.titulo_tres_contacto}}</h3>
                <p class="c-step-text">{{informacion.texto_tres_contacto}}</p>
            </div>
        </div>
        <div id="contact-link">
            <p>{{informacion.ultimo_texto_contacto}} </p>
            <a id="c-step-btn" href="#contact">Contactar</a>
        </div>
    </div>
</section>








{% endblock %}

{% block script %} <script src="{% static 'js/home/script.js' %}"></script> {% endblock %}