/* Basicos del slider */
#slider{
    width: 100%;
    position: relative;
}

.slider-image{
    width: 100%;
    transition: all .7s ease-in;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.s-active{
    opacity: 1;
    visibility: visible;
    z-index: 998;
}

.s-arrow{
    transition: 0.3s ease 0s;
        transition-property: visibility, opacity;
    position: absolute;
    height: 40px;
    z-index: 999;
    background:linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
}
#a-left{
    left: 10px;
}
#a-right{
    right: 10px;
}
 /* El slider responsive */
@media(max-width: 499px){
    .slider-image{
        clip-path: inset(0 0 0 200vw);
        width: calc(100% + 200vw);
        left: -200vw;
    }

    .s-arrow{
        top: calc(60vw - 20px);
    }
}
@media (min-width: 500px) and (max-width: 799px){
    .slider-image{
        clip-path: inset(0 0 0 100vw);
        width: calc(100% + 100vw);
        left: -100vw;
    }

    .s-arrow{
        top: calc(40vw - 20px);
    }
}
@media (min-width: 800px) and (max-width: 1099px){
    .slider-image{
        clip-path: inset(0 0 0 55vw);
        width: calc(100% + 55vw);
        left: -55vw;
    }

    .s-arrow{
        top: calc(31vw - 20px);
    }
}
@media (min-width: 1100px){
    .s-arrow{
        top: calc(19.52vw - 20px);
        visibility: hidden;
        opacity: 0;
        cursor: pointer;
    }

    #slider:hover > .s-arrow{
        visibility: visible;
        opacity: 1;
    }
}

