#slider{
    width: 100%;
    position: relative;
}

.slider-image{
    width: 100%;
    transition: all .7s ease-in;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.s-active{
    opacity: 1;
    visibility: visible;
    z-index: 998;
}

.s-arrow{
    transition: 0.3s ease 0s;
        transition-property: visibility, opacity;
    position: absolute;
    height: 40px;
    z-index: 999;
    background-color: rgba(255,255,255,0.5);
}
#a-left{
    left: 10px;
}
#a-right{
    right: 10px;
}

@media(max-width: 500px){
    .slider-image{
        clip-path: inset(0 0 0 160vw);
        width: calc(100% + 160vw);
        left: -160vw;
    }

    .s-arrow{
        top: calc(64vw - 20px);
    }
}

@media (max-width: 1099px){
    @media (max-width: 799px){
        .slider-image{
            clip-path: inset(0 0 0 110vw);
            width: calc(100% + 110vw);
            left: -110vw;
        }
    
        .s-arrow{
            top: calc(44vw - 20px);
        }
    }
    @media (min-width: 800px){
        .slider-image{
            clip-path: inset(0 0 0 85vw);
            width: calc(100% + 85vw);
            left: -85vw;
        }
    
        .s-arrow{
            top: calc(34vw - 20px);
        }
    }
}

@media (min-width: 800px){
    @media (max-width: 1099px){
        .slider-image{
            clip-path: inset(0 0 0 55vw);
            width: calc(100% + 55vw);
            left: -55vw;
        }

        .s-arrow{
            top: calc(22vw - 20px);
        }
    }
    @media (min-width: 1100px){
        .s-arrow{
            top: calc(19.52vw - 20px);
            visibility: hidden;
            opacity: 0;
            cursor: pointer;
        }
    
        #slider:hover > .s-arrow{
            visibility: visible;
            opacity: 1;
        }
    }
}
