:root{
    --back-color: rgb(255,255,255);
    --back-color-hover: #dfe0df;
    --font-color: black;
    --font-secondary-color: #086436;
    --main-color: #1e8036/*#949ba2*/;
    --main-color-hover: #02931f/*rgb(175, 180, 186)*/;
    --header-border-color: rgb(30, 128, 54);
    /* --header-submenu-separator: #00a020 rgb(190, 195, 201); */
    --second-color: #09cda9;
    --second-color-hover: #09bc9b;
}