{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %} {{ casa.nombre }} {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'css/casas/casaX/styles.css' %}"> {% endblock %}

{% block content %}

<main>
    <div id="casa-left">
        <div>
            <h3 id="house-direction"> {{casa.direccion}} </h3>
            <h2 id="house-name"> {{casa.nombre}} </h2>
            <p id="mini-description"> {{casa.descripcion}} </p>
        </div>
    </div>
    <img id="casa-right" src="{{ casa.imagen_principal.url }}" alt="Imagen de la casa">
</main>

<section id="house-description">
    <div class="house-description-item description-left">
        <h3> ¿Porque vivir en {{barrio.nombre}}? </h3>
        {% if barrio.descripcion|length_greater_than:250 %}
        <p id="barrio-description" data-text="{{barrio.descripcion}}"> {{barrio.descripcion|slice:":250"}} </p>
        <p class="house-info">+ más info</p>
        {% else %}
        <p id="barrio-description"> {{barrio.descripcion}} </p>
        {% endif %}
    </div>
    {% for key, value in casa.informacion.items %}
    {% if forloop.counter|divisibleby:2 %}
    <div class="house-description-item description-left">
        <h3> {{key}} </h3>
        {% if value|length_greater_than:250 %}
        <p data-text="{{value}}"> {{value|slice:":250"}} </p>
        <p class="house-info">+ más info</p>
        {% else %}
        <p> {{value}} </p>
        {% endif %}
    </div>
    {% else %}
    <div class="house-description-item description-right">
        <h3> {{key}} </h3>
        {% if value|length_greater_than:250 %}
        <p data-text="{{value}}"> {{value|slice:":250"}} </p>
        <p class="house-info">+ más info</p>
        {% else %}
        <p> {{value}} </p>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</section>

<section id="house-options">
    <div id="house-options-images">
        <h3 data-class="ext" id="house-option-exteriores" class="house-options-active">Exteriores</h3>
        <h3 data-class="int" id="house-option-interiores">Interiores</h3>
        <h3 data-class="plan" id="house-option-planos">Planos</h3>
    </div>

    <img id="hc-left" class="hc-arrow" width="40" src="{{ images.left_arrow.url }}" alt="left">

    <div id="exteriores" class="house-images">
        {% for i in imagenes_exteriores %}
            {% if forloop.first %}
                <img id="first-ext-image" class="house-image1 ext-image image-active" src="{{ i.imagen.url }}" alt="{{ i.slug }}">
            {% else %}
                {% if forloop.last %}
                    <img id="last-ext-image" class="house-image1 ext-image" src="{{ i.imagen.url }}" alt="{{ i.slug }}">
                {% else %}
                    <img class="house-image1 ext-image" src="{{ i.imagen.url }}" alt="{{ i.slug }}">
                {% endif %}
            {% endif %}
        {% empty %}
            <p>No hay imágenes exteriores</p>
        {% endfor %}
    </div>
  
    <div id="interiores" class="house-images">
        {% for i in imagenes_interiores %}
            {% if forloop.first %}
                <img id="first-int-image" class="house-image1 int-image" src="{{ i.imagen.url }}" alt="{{ i.slug }}">
            {% else %}
                {% if forloop.last %}
                    <img id="last-int-image" class="house-image1 int-image" src="{{ i.imagen.url }}" alt="{{ i.slug }}">
                {% else %}
                    <img class="house-image1 int-image" src="{{ i.imagen.url }}" alt="{{ i.slug }}">
                {% endif %}
            {% endif %}
        {% empty %}
        <p>No hay imágenes interiores</p>
        {% endfor %}
    </div>

    <div id="planos" class="house-images">
        {% for i in imagenes_planos %}
            {% if forloop.first %}
                <img id="first-plan-image" class="house-image1 plan-image" src="{{ i.imagen.url }}" alt="{{ i.slug }}">
            {% else %}
                {% if forloop.last %}
                    <img id="last-plan-image" class="house-image1 plan-image" src="{{ i.imagen.url }}" alt="{{ i.slug }}">
                {% else %}
                    <img class="house-image1 plan-image" src="{{ i.imagen.url }}" alt="{{ i.slug }}">
                {% endif %}
            {% endif %}
        {% empty %}
        <p>No hay imágenes de planos</p>
        {% endfor %}
    </div>

    <div class="complete-cont">
        <img id="open-complete" class="complete-img" src="{{ images.open_complete.url }}" alt="Pantalla grande">
        <img id="close-complete" class="complete-img no-display" src="{{ images.close_complete.url }}" alt="Pantalla grande">
    </div>

    <img id="hc-right" class="hc-arrow" width="40" src="{{ images.right_arrow.url }}" alt="right">
</section>

<section id="detalles">
    <h3 id="detalles-title"> Detalles </h3>
    <div id="detalles-info">
        <p><b> Superficie terreno: </b>{{casa.sup_terreno}}m2</p>
        <p><b> Superficie cubierta: </b>{{casa.sup_cubierta}}m2</p>
        <p><b> Dormitorios: </b>{{casa.dormitorios}}</p>
        <p><b> Baños: </b>{{casa.baños}}</p>
        <p><b> Ambientes: </b>{{casa.ambientes}}</p>
        <p><b> Precio: </b>{{casa.precio}} US$</p>
    </div>
</section>

<section id="avances-obra">
    <div id="avances-slider">
        <iframe id="yt-vid" src="https://www.youtube.com/embed/{{casa.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>

{% endblock %}

{% block script %} <script src="{% static 'js/casas/casaX/script.js' %}"></script> {% endblock %}