{% extends 'base.html' %}
{% load static %}

{% block title %} {{ casa.nombre }} {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'css/casas/casaX/styles.css' %}"> {% endblock %}

{% block content %}

<main>
    <div id="casa-left">
        <div>
            <h3> {{casa.direccion}} </h3>
            <h2> {{casa.nombre}} </h2>
            <p> {{casa.descripcion_corta}} </p>
        </div>
    </div>
    <img id="casa-right" src="{{ imagen_principal }}" alt="Imagen de la casa">
</main>

<section id="house-description">
    <div class="house-description-item" id="description-right">
        <h3> ¿Porque vivir en El Terrón? </h3>
        <p> El Terrón es un oasis de privacidad y lujo exclusivo. Con seguridad 24/7, amplios espacios verdes y servicios de alta calidad, tendrás todo lo que necesitas para vivir una vida de comodidad y tranquilidad. </p>
        <p class="house-info">+ más info</p>
    </div>
    <div class="house-description-item" id="description-left">
        <h3> Información </h3>
        <p> {{casa.descripcion_larga}} </p>
        <p class="house-info">+ más info</p>
    </div>
</section>

<section id="house-options">
    <div id="house-options-images">
        <h3 class="house-options-active">Planos</h3>
        <h3>Exteriores</h3>
        <h3>Interiores</h3>
    </div>
  
    <div id="planos" class="house-images">
        {% for i in imagenes_planos %}
        <img src="{{ i.imagen.url }}" alt="{{ i.slug }}">
        {% empty %}
        <p>No hay imágenes de planos</p>
        {% endfor %}
    </div>

    <div id="exteriores" class="house-images active">
        {% for i in imagenes_exteriores %}
        <img src="{{ i.imagen.url }}" alt="{{ i.slug }}">
        {% empty %}
        <p>No hay imágenes exteriores</p>
        {% endfor %}
    </div>
  
    <div id="interiores" class="house-images">
        {% for i in imagenes_interiores %}
        <img src="{{ i.imagen.url }}" alt="{{ i.slug }}">
        {% empty %}
        <p>No hay imágenes interiores</p>
        {% endfor %}
    </div>
</section>

<section id="avances-obra">
    <h2> Avances de obra </h2>
    <div id="avances-slider">
        {% for i in imagenes_avances %}
        {% if forloop.first %}
        <img id="sa-first" class="avances-slider-image sa-active" src="{{ i.imagen.url }}" alt="{{ i.slug }}">
        {% elif forloop.last %}
        <img id="sa-last" class="avances-slider-image" src="{{ i.imagen.url }}" alt="{{ i.slug }}">
        {% else %}
        <img class="avances-slider-image" src="{{ i.imagen.url }}" alt="{{ i.slug }}">
        {% endif %}
        {% empty %}
        <p> No hay imágenes de avances de obra </p>
        {% endfor %}
    </div>
</section>

{% endblock %}

{% block script %} <script src="{% static 'js/casas/casaX/script.js' %}"></script> {% endblock %}