{% extends 'base.html' %}
{% load static %}

{% block title %} {{ casa.nombre }} {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'css/casas/filtros.css' %}"> {% endblock %}

{% block content %}

<section id="nosotros-title">
    <h1 id="nt-text">FILTROS</h1>
    <div id="nt-border"></div>
    <h2  id="nt-title">CARRANZA FEBRE</h2>
</section>

<section id="filtros">
    <div id="tipo-propiedad" class="filtro" data-filtro="tipo_prop">
        <p id="filtro-title">Tipo de propiedad</p>
        {% for tipo_prop in tipos_propiedades %}
            <div class="filtro-opcion" id="{{tipo_prop.slug}}" data-loop="{{forloop.counter}}">
                <p> {{tipo_prop.nombre}} </p>
                <img class="untick tick-option" src="{{ MEDIA_ROOT }}home/slider/untick.png">
                <img class="tick tick-option no-display" src="{{ MEDIA_ROOT }}home/slider/tick.png">
            </div>
        {% endfor %}
        <img class="filtro-arrow" width="18" src="{{ MEDIA_ROOT }}home/slider/chevron-right.png">
    </div>
    <div id="tipo-operacion" class="filtro" data-filtro="tipo_op">
        <p id="filtro-title">Tipo de operaci&oacute;n</p>
        {% for tipo_op in tipos_operaciones %}
            <div class="filtro-opcion" id="{{tipo_op.slug}}" data-loop="{{forloop.counter}}">
                <p> {{tipo_op.nombre}} </p>
                <img class="untick tick-option" src="{{ MEDIA_ROOT }}home/slider/untick.png">
                <img class="tick tick-option no-display" src="{{ MEDIA_ROOT }}home/slider/tick.png">
            </div>
        {% endfor %}
        <img class="filtro-arrow" width="18" src="{{ MEDIA_ROOT }}home/slider/chevron-right.png">
    </div>
    <div id="barrio" class="filtro" data-filtro="barrio">
        <p id="filtro-title">Barrio</p>
        {% for barrio in barrios %}
            <div id="{{barrio.slug}}" class="filtro-opcion" data-loop="{{forloop.counter}}">
                <p> {{barrio.nombre}} </p>
                <img class="untick tick-option" src="{{ MEDIA_ROOT }}home/slider/untick.png">
                <img class="tick tick-option no-display" src="{{ MEDIA_ROOT }}home/slider/tick.png">
            </div>
        {% endfor %}
        <img class="filtro-arrow" width="18" src="{{ MEDIA_ROOT }}home/slider/chevron-right.png">
    </div>
    <div id="aplicar" data-url="{{url}}">
        <p>Aplicar</p>
        <p id="parametros" class="no-display">{{filtros}}</p>
    </div>
</section>

<section id="home-casas">
    <h2>Eleg&iacute; tu casa ideal!</h2>
    <img id="hc-left" class="hc-arrow" width="40" src="home/slider/chevron-left.png" alt="left">
    <div id="home-casas-cards">
        {% for casa, imagen in combined_data %}
        <div class="home-casa-card" data-url="{% url 'casas' casa.direccion.slug casa.slug %}">
            <p class="casa-card-info">{{casa.nombre|upper}}</p>
            <div class="image-container">
                <img class="image1" src="{{ imagen }}" alt="{{casa.nombre}} imágen">
            </div>
        </div>
        {% empty %}
        <p>No hay propiedades disponibles que cumplan con tus condiciones.</p>
        {% endfor %}
    </div>
    <img id="hc-right" class="hc-arrow" width="40" src="home/slider/chevron-right.png" alt="right">
</section>



{% endblock %}

{% block script %} <script src="{% static 'js/casas/filtros.js' %}"></script> {% endblock %}