:root{
    /* --back-color: #333439;
    --font-color: #edf0f1;
    --header-color: rgb(24, 24, 24);
    --header-color-hover: rgb(35, 35, 35);
    --second-color: #0088a9;
    --second-color-hover: rgba(0, 136, 169, 0.8); */
    --back-color: #ececec;
    --font-color: black;
    --header-color: #949ba2;
    --header-color-hover: rgb(175, 180, 186);
    --header-submenu-separator: rgb(190, 195, 201);
    --second-color: #09cda9;
    --second-color-hover: #079e83;
}

#btn-menu{
    display: none;
}


body{
    background-color: var(--back-color);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header li, a, button{
    font-size: 16px;
    font-weight: 500;
    color: var(--font-color);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--header-color);
}

#logo{
    cursor: pointer;
    margin-right: auto;
}
#logo img{
    height: 35px;
}

.menu{
    height: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu > li{
    display: inline-block;
}

.menu > li > a{
    transition: all 0.3s ease 0s;
}

#btn-contacto{
    background-color: var(--second-color);
    border: none;
}


@media (min-width: 800px) {
    /* La hago hovered */
    .container-submenu{
        position: relative;
    }

    .submenu{
        list-style: none;
        position: absolute;
        left: 8px;
        top: 28px;
        transition: all 0.3s ease 0s;
        z-index: 1000;
        overflow: hidden;
        opacity: 0;
        display: none;
        border-radius: 50px;
    }
    .container-submenu:hover .submenu{
        overflow: visible;
        opacity: 1;
        display: block;
    }

    .submenu__item:first-child{
        border-radius: 6px 6px 0 0;
    }
    .submenu__item:last-child{
        border-radius: 0 0 6px 6px;
    }
    .submenu__item{
        background-color: var(--header-color-hover);
        padding: 16px 22px;
        width: 150px;
        cursor: pointer;
        border-bottom: 1px solid var(--header-submenu-separator);
    }
    .submenu__item:hover{
        background-color: var(--header-color);
    }

    .menu > li{
        padding: 0px 20px;
    }
    .menu > li > a:hover{
        color: var(--second-color-hover);
    }

    #btn-contacto{
        margin-left: 20px;
        padding: 9px 25px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    #btn-contacto:hover{
        background-color: var(--second-color-hover);
    }

    #down{
        padding-left: 8px;
    }
}

@media (max-width: 800px){
    #btn-menu{
        display: block;
        cursor: pointer;
    }

    header{
        justify-content: space-between;
    }

    #nav{
        position: absolute;
        margin: 0;
        left: 0px;
        top: 77.4px;
        padding: 0;
        width: 100%;
    }

    .menu, .submenu{
        list-style: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: flex; /* aca pana flex */
        transition: all 0.5s ease 0s;
        visibility: hidden;
        opacity: 0;
        z-index: 1000;
        position: relative;
    }

    .menu__item, .submenu__item{
        background-color: var(--header-color-hover);
        width: 100%;
        padding: 16px 0px;
        border-bottom: 1px solid var(--header-submenu-separator);
    }
    .submenu__item:first-child{
        padding-top: 30px;
    }
    .submenu__item:last-child{
        padding-bottom: 0;
        border-bottom: 0;
    }

    .submenu__item > a{
        position: relative;
        left: 12px;
    }

    .submenu{
        background-color: var(--header-color);
        display: none; /* aca pana flex */
        transition: all 0.3s ease 0s;
    }

    .cta{
        position: absolute;
        left: 0;
        top: 233px;
        display: block; /* aca pana block */
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease 0s;
        z-index: 1000;
        width: 100%;
    }

    #btn-contacto{
        width: 100%;
        padding: 16px 0px;
    }

    .submenu-btn{
        padding: 0px 37vw;
    }
} 


.flex{
    display: flex;
}
.show{
    visibility: visible !important;
    opacity: 1 !important; 
}
.downer{
    transition: all 0s;
    top: 437px;
}