@import url(../variables.css);

ul{
    list-style: none;
}

/* HEADER */
#btn-menu{
    display: none;
}

body{
    background-color: var(--back-color);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header li, a, button{
    font-size: 16px;
    font-weight: 500;
    color: var(--font-color);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background: linear-gradient(var(--back-color), var(--back-color), var(--back-color-hover));
    z-index: 9999;
    width: 100%;
    box-shadow:5px 5px 10px rgba(0,0,0,0.3);
    height: 60px;
}

#logo{
    cursor: pointer;
    margin-right: auto;
}
#logo img{
    height: 20px;
}

.menu{
    height: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu > li{
    display: inline-block;
}

.menu > li > a{
    transition: all 0.3s ease 0s;
}

#btn-contacto{
    background-color: var(--main-color-hover);
    color: var(--back-color);
    border: none;
}

.container-submenu:hover{
    cursor: pointer;
}

@media (min-width: 800px) {
    /* La hago hovered */
    .container-submenu{
        position: relative;
    }

    .submenu{
        list-style: none;
        position: absolute;
        left: 8px;
        top: 28px;
        transition: all 0.3s ease 0s;
        z-index: 1000;
        overflow: hidden;
        opacity: 0;
        display: none;
        border-radius: 50px;
    }
    .container-submenu:hover .submenu{
        overflow: visible;
        opacity: 1;
        display: block;
    }

    .submenu__item:first-child{
        border-radius: 6px 6px 0 0;
    }
    .submenu__item:last-child{
        border-radius: 0 0 6px 6px;
    }
    .submenu__item{
        background-color: var(--back-color-hover);
        padding: 16px 22px;
        width: 150px;
        cursor: pointer;
        border-bottom: 1px solid var(--back-color);
        transition: all .3s ease;
    }
    .submenu__item:hover{
        background-color: var(--back-color);
        border-bottom: 1px solid var(--back-color);
    }

    .menu > li{
        padding: 0px 20px;
    }
    .menu > li > a{
        transition: all .3s ease;
    }
    .menu > li > a:hover{
        color: var(--main-color-hover);
    }

    #btn-contacto{
        margin-left: 20px;
        padding: 9px 25px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    #btn-contacto:hover{
        background-color: var(--main-color);
    }

    #down{
        padding-left: 8px;
    }
}

@media (max-width: 800px){
    #btn-menu{
        display: block;
        cursor: pointer;
    }

    header{
        justify-content: space-between;
    }

    #nav{
        position: absolute;
        margin: 0;
        left: 0px;
        top: 77.4px;
        padding: 0;
        width: 100%;
    }

    .menu, .submenu{
        list-style: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: flex; /* aca pana flex */
        transition: all 0.5s ease 0s;
        visibility: hidden;
        opacity: 0;
        z-index: 1000;
        position: relative;
    }

    .menu__item, .submenu__item{
        background-color: var(--back-color);
        width: 100%;
        padding: 16px 0px;
        /* border-bottom: .5px solid var(--main-color-hover); */
    }
    .submenu__item:first-child{
        padding-top: 30px;
    }
    .submenu__item:last-child{
        padding-bottom: 0;
        border-bottom: 0;
    }

    .submenu__item > a{
        position: relative;
        left: 32px;
    }

    .submenu{
        display: none; /* aca pana flex */
        transition: all 0.3s ease 0s;
        list-style: disc;
    }

    .cta{
        position: absolute;
        left: 0;
        top: 230px;
        display: block; /* aca pana block */
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease 0s;
        z-index: 1000;
        width: 100%;
    }

    #btn-contacto{
        width: 100%;
        padding: 16px 0px;
    }

    .submenu-btn{
        padding: 0px 37vw;
    }

    #btn-contacto{
        background-color: var(--back-color-hover);
        color: var(--main-color);
        border: none;
    }
} 
.flex{
    display: flex;
}
.show{
    visibility: visible !important;
    opacity: 1 !important; 
}


/* CONTACTO */
#contact{
    width: 100%;
    position: relative;
    height: fit-content;
    /* border-top: 4px solid var(--main-submenu-separator); */
    background-color: var(--back-color-hover);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:stretch;
    padding-left: 15%;
}

#c-left{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

#c-left *{
    padding: 6px 0;
}

.c-image{
    width: 20px;
}

.c-inline{
    display: flex;
}

.c-inline-text{
    margin-left: 16px;
}
.m-left-36px{
    margin-left: 36px;
}

#c-first{
    padding-top: 0px;
}

#form-contact{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: var(--main-color);
    padding: 22px 0;
    border-radius: 10px;
    margin: 70px 0;
    margin-left: 10%;
}

#c-title{
    color: var(--font-color);
}

.c-input{
    width: calc(100% - 20%);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
}

#mensaje{
    resize: vertical;
    min-height: 80px;
    max-height: 450px;
}

#c-send-btn{
    background-color: var(--second-color);
}
#c-send-btn:hover{
    background-color: var(--second-color-hover);
    cursor: pointer;
}

@media (max-width: 970px){
    /* Hago el contacto responsive */
    #contact{
        flex-direction: column;
        padding: 0;
    }

    #contact > *{
        width: 60%;
        margin-left: 0;
    }

    #c-left{
        margin-top: 45px;
    }

    #c-left > *{
        left: 20px;
    }

    #form-contact{
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .c-input{
        padding: 6px;
    }

    #mensaje{
        min-height: 50px;
    }
}


/* FOOTER */
footer{
    height: auto;
}

/* First part */
#f-first{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 45px 8%;
    background-color: var(--font-color);
    color: var(--back-color-hover);
    font-size: .9em;
}

#f-first > *{
    width: 25%;
}


.f-section > h3{
    margin-bottom: 8px;
    font-size: 1.2em;
}

.f-text{
    font-size: 0.9em;
}

@media (max-width: 900px){
    #f-first{
        flex-direction: column;
    }

    #f-first-first{
        padding-top: 0 !important;
    }
    #f-first > *{
        padding-top: 35px;
        width: 70%;
    }
}


/* Second part */
#f-last{
    padding: 6px;
    background-color: var(--main-color);
    color: var(--back-color);
    font-size: 0.8em;
    text-align: center;
}

/* SCROLL TOP */
#scroll-top{
    width: 50px;
    height: 50px;
    background-color: var(--main-color-hover);
    border-radius: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    bottom: 30px;
    right: 30px;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

#scroll-top > img{
    width: 45%;
}

#scroll-top:hover{
    transform: scale(103%) !important;
    cursor: pointer;
    background-color: var(--main-color);
}