{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carranza - {% block title %} {% endblock %} </title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        
        <!-- FONTAWESOMEFREE -->
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

        
        <link rel="stylesheet" href='{% static "css/base/styles.css" %}'>
        {% block style %} {% endblock %}
    </head>
    <body>
        <header>
            <a href="#" id="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Logo_of_YouTube_%282015-2017%29.svg/2560px-Logo_of_YouTube_%282015-2017%29.svg.png" alt="logo">
            </a>
            <span class="nav-bar" id="btn-menu">
                <i class="fa-solid fa-bars fa-2xl"></i> 
            </span> 
            <nav id="nav">
                <ul class="menu">
                    <li class="menu__item"><a href="#" class="menu__link">Inicio</a></li>
                    <li class="menu__item container-submenu">
                        <a class="submenu-btn menu__link">Casas</a><i id="down" class="fa-solid fa-caret-down"></i>
                        <ul class="submenu flex show">
                            <li class="submenu__item"><a href="#" class="menu__link">Casa 1</a></li>
                            <li class="submenu__item"><a href="#" class="menu__link">Casa 2</a></li>
                            <li class="submenu__item"><a href="#" class="menu__link">Casa 3</a></li>
                            <li class="submenu__item"><a href="#" class="menu__link">Casa 4</a></li>
                        </ul>
                    </li>
                    <li class="menu__item"><a href="#" class="menu__link">Nosotros</a></li>
                </ul>
            </nav>

            <a href="#" class="cta downer"><button id="btn-contacto">Contacto</button></a>
        </header>

        {% block content %} {% endblock %}

        <footer>
            
        </footer>

        <!-- FONTAWESOMEFREE -->
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        
        <script src="{% static 'js/base/script.js' %}"></script>
        {% block script %} {% endblock %}
    </body>
</html>