{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carranza - {% block title %} {% endblock %} </title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href='{% static "css/base/styles.css" %}'>
        {% block style %} {% endblock %}
    </head>
    <body>
        <header>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Logo_of_YouTube_%282015-2017%29.svg/2560px-Logo_of_YouTube_%282015-2017%29.svg.png" alt="logo" class="logo">

            <nav id="nav">
                <ul class="nav__links">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Casas</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
            </nav>

            <a href="#" class="cta"><button id="btn-contacto">Contacto</button></a>
            <img src="https://static.vecteezy.com/system/resources/previews/009/362/781/non_2x/app-menu-icon-sign-symbol-design-free-png.png" alt="menu-hamburguesa" id="hamburguesa" data-touched="false">
        </header>

        {% block content %} {% endblock %}

        <footer>
            
        </footer>

        <script src="{% static 'js/base/script.js' %}"></script>
    </body>
</html>