{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carranza - {% block title %} {% endblock %} </title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        
        <!-- FONTAWESOMEFREE -->
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

        
        <link rel="stylesheet" href='{% static "css/base/styles.css" %}'>
        {% block style %} {% endblock %}
    </head>
    <body>
        <header>
            <a href="#" id="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Logo_of_YouTube_%282015-2017%29.svg/2560px-Logo_of_YouTube_%282015-2017%29.svg.png" alt="logo">
            </a>
            <span class="nav-bar" id="btn-menu">
                <i class="fa-solid fa-bars fa-2xl"></i> 
            </span> 
            <nav id="nav">
                <ul class="menu">
                    <li class="menu__item"><a href="/" class="menu__link">Inicio</a></li>
                    <li class="menu__item container-submenu">
                        <a class="submenu-btn menu__link">Casas</a><i id="down" class="fa-solid fa-caret-down"></i>
                        <ul class="submenu flex show">
                            <li class="submenu__item"><a href="{% url 'casas' 'el-terron-422' %}" class="menu__link">El Terrón 422</a></li>
                            <li class="submenu__item"><a href="{% url 'casas' 'el-terron-136' %}" class="menu__link">El Terrón 136</a></li>
                            <li class="submenu__item"><a href="#" class="menu__link">Casa 3</a></li>
                            <li class="submenu__item"><a href="#" class="menu__link">Casa 4</a></li>
                        </ul>
                    </li>
                    <li class="menu__item"><a href="#" class="menu__link">Nosotros</a></li>
                </ul>
            </nav>

            <a id="btn-contacto-container" href="#contact" class="cta downer"><button id="btn-contacto">Contacto</button></a>
        </header>

        {% block content %} {% endblock %}

        <section id="contact">
            <div id="c-left">
                <h2> Dejanos tu consulta! </h2>
                <p> Responderemos a la brevedad. </p>

                <h4> Nuestros horarios, días y medios de atención. </h4>

                <div class="c-inline">
                    <img class="c-image" src="{{ MEDIA_ROOT }}/base/contacto/reloj.png" alt="reloj">
                    <h5 id="c-last" class="c-inline-text"> Lunes a viernes </h5>
                </div>
                <p id="c-first" class="m-left-36px"> de 08:00 a 12:00 y 13:30 a 17:00 </p>
                <h5 class="m-left-36px"> Sábados </h5>
                <p class="m-left-36px"> de 08:00 a 11:00 </p>

                <div class="c-inline">
                    <img class="c-image" src="{{ MEDIA_ROOT }}/base/contacto/mensaje.png" alt="mensaje">
                    <p class="c-inline-text"> (+54) 9 3515 12-1570 </p>
                </div>

                <div class="c-inline">
                    <img class="c-image" src="{{ MEDIA_ROOT }}/base/contacto/mail.png" alt="mail">
                    <p class="c-inline-text"> jfcar000@gmail.com </p>
                </div>
            </div>

            <form action="/contacto/" method="post" id="form-contact"> {% csrf_token %}
                <h3 id="c-title"> Contacto </h3>
                <input class="c-input" type="text" name="nombre" placeholder="Nombre y Apellido">
                <input class="c-input" type="text" name="mail" placeholder="E-mail">
                <input class="c-input" type="text" name="asunto" placeholder="Asunto" >
                <textarea id="mensaje" class="c-input" name="mensaje" placeholder="Mensaje..."></textarea>
                <input id="c-send-btn" class="c-input"  type="submit" value="Enviar">
            </form>
        </section>


        <footer>
            <div id="f-first">
                <div class="f-section" id="f-first-first">
                    <h3>Nombre.</h3>
                    <p class="f-text">RCaffaratti Inmobiliaria®, es una empresa familiar fundada en 1986 especializada en Alquiler y Venta de Propiedades en la Ciudad de Córdoba.</p>
                </div>
                <div class="f-section">
                    <h3>Barrios.</h3>
                    <ul>
                        <li class="f-text">El Terrón</li>
                        <li class="f-text">Q2</li>
                        <li class="f-text">La Deseada</li>
                    </ul>
                </div>
                <div class="f-section" id="f-contactanos">
                    <h3>Contactanos.</h3>
                    <ul id="f-contactanos">
                        <li class="f-text">(+54) 9 3515 12-1570</li>
                        <li class="f-text">jfcar000@gmail.com</li>
                        <li class="f-text">@juancarranza000</li>
                    </ul>
                </div>
            </div>
            
            <div id="f-last">
                <p>© Nombre - Todos los derechos reservados</p>
            </div>
        </footer>




        <!-- FONTAWESOMEFREE -->
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        
        <script src="{% static 'js/base/script.js' %}"></script>
        {% block script %} {% endblock %}
    </body>
</html>