@import url(../../variables.css);

main{
    width: 100%;
    background-color:var(--back-color);
    display: flex;
    flex-direction: row;
    height: auto;
}

main{
    height: fit-content;
}

#casa-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 35%; 
    padding: 20px 140px;
}

#casa-left div{
    padding: 0 30px;
    border-left: 4px solid var(--main-color);
}

#casa-left h3{
    padding-bottom: 3px;
    font-weight: 100;
    color: #424542;
    font-size: 1.4em;
}
#casa-left h2{
    padding-bottom: 20px;
    font-size: 1.9em;
    font-weight:bolder;
}
#casa-left p{
    font-weight: 100;
    font-size: 1.2em;
    color: #666666;
}

#casa-right{
    position: absolute;
    right: 0px;
    object-fit:cover;
    width: 588px;
    height: 441px;
}

@media (max-width: 950px){
    #casa-left{
        padding: 0px 0 0 16px;
    }
}
@media (max-width: 750px){
    main{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #casa-left > div{
        border-left: 0;
        padding-top: 26px;
    }
    #house-direction{
        padding: 0px;
    }
    #house-name{
        width: fit-content;
        margin: auto;
        padding-bottom: 0px;
        border-bottom: 4px solid var(--main-color);
    }
    #mini-description{
        padding: 22px 0px 20px 0;
    }
    #casa-right{
        padding-bottom: 24px;
    }
}

/* SEGUNDA SECCION */
#house-description{
    /* border-top: 2px solid var(--main-color); */
    height: auto;
    width: 100%;
    background-color: var(--main-color);
    color: var(--back-color-hover);
    padding: 50px 100px;
    font-size: 0.9em;
    font-weight:lighter;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.house-description-item{
    width: 45%;
/*    border: 1px solid var(--font-color);*/
    padding: 35px 60px;
    transition: all 1s ease;
    margin-bottom: 20px;
}

.house-description-item h3{
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 1.55em;
}

.house-info{
    padding-top: 10px;
    color: #969BA1;
    text-decoration: underline;
}
.house-info:hover{
    cursor: pointer;
}

@media(max-width: 800px){
    #house-description{
        flex-direction: column;
        align-items: center;
        padding: 16px;
    }

    #house-description > .house-description-item{
        width: 100%;
    }
}


/* SECCION IMAGENES */

#house-options{
    position: relative;
}

#house-options-images{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#house-options-images > *{
    padding: 8px;
    width: 180px;
    text-align: center;
    border: 1.5px solid var(--main-color);
    border-radius: 5px;
    font-weight:lighter;
    margin: 35px 12px 10px 0;
    font-size: 1em;
}

#house-options-images > *:hover{
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
}

.house-options-active{
    background-color: var(--main-color);
    color: #fff;
}

#house-options-images h3 {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    transition: color .5s ease, background-color .5s ease, transform 1s ease, opacity 1s ease, visibility 1s ease;
}

.house-images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.house-image1{
    display: none;
    opacity: 0;
    transition: all 1s ease;
    width: 50vw;
    height: 37.5vw;
}

.image-active{
    display: block;
    opacity: 1;
}
.hc-arrow{
    position: absolute;
    top: calc(50% - 10px);
    transition: all .3s ease;
}
#hc-left{
    left: 1%;
}
#hc-right{
    right: 1%;
}
.hc-arrow:hover{
    cursor: pointer;
    transform: scale(95%);
}

.complete-cont{
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    width: 50vw;
    height: 50px;
    left: 24vw;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3%;
    opacity: 0;
    transition: all .4s ease;
    z-index: 10000;
}
#open-complete{
    width: 30px;
}
#close-complete{
    width: 40px;
}
.complete-img:hover{
    transform: scale(103%);
    cursor: pointer;
}
.image-complete{
    max-width: 100%;
    height: 100%;
    width: fit-content;
    position:fixed;
    top: 0;
    left: auto;
    z-index: 9999;
}
.left-arrow-complete{
    position: fixed;
    top: calc(50% - 10px);
    left: 1%;
    z-index: 9999;
}
.right-arrow-complete{
    position: fixed;
    top: calc(50% - 10px);
    right: 1%;
    z-index: 9999;
}
.complete-cont-complete{
    position: fixed;
    width: 80%;
    bottom: 0;
    left: 10%;
    z-index: 9999;
}
.no-display{
    display: none;
}
@media (max-width: 600px){
    .complete-cont{
        height: 30px;
    }
    #open-complete{
        width: 20px;
    }
    #close-complete{
        width: 25px;
        display: none;
    }
}

/*.house-images {
    display: none;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 10px 5%;
    justify-content: center;
}

.house-images.active {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.house-images img {
    transition: transform 0.3s ease-in;
    transform: scale(0.9);
    margin: 10px;
}

.house-images.active img {
    transform: scale(1);
}
*/

/* DETALLES SECTION */
#detalles{
    width: 100%;
    margin-top: 40px;
}
#detalles-title{
    margin-left: 15%;
    font-size:x-large;
    margin-bottom: 30px;
}
#detalles-info{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
#detalles-info>p{
    width: calc(33%);
    margin-bottom: 24px;
}
@media(max-width: 1200px){
    #detalles-info>p{
        width: calc(50%);
        margin-bottom: 24px;
    }
}
@media(max-width: 800px){
    #detalles-info{
        text-align: center;
    }
    #detalles-info>p{
        width: calc(100%);
        margin-bottom: 24px;
    }
}
/* SLIDER SECTION */
#avances-obra{
    position: relative;
    height: fit-content;
    /* height: calc(75vh + 18px + 20px + 1.3em + 30px); */
    width: 100%;
    margin-bottom: 60px;
    margin-top: 40px;
}

#avances-slider{
    display: flex;
    justify-content: center;
}

#yt-vid{
    width: 70vw;
    height: 39.37vw;
}

.sa-active{
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 998 !important;
}